<h1>You are even lifting a<br><span id="animal_name"><%= @animal.name if @animal %></span></h1>

<div id="animal_image">
  <% if @animal %>
    <image src='<%= image_path(@animal) %>' width='400px'>
  <% end %>
</div>

<% if @next_animal %>
  <h4 id="next_animal">Keep it up and soon you'll be picking up a <span><%= @next_animal.name %></span> and putting it down with authority</h4>
<% end %>

<a href="https://twitter.com/intent/tweet?text=<%= urlify(twitter_share_text(@animal.name)) if @animal %>&url=<%= home_path %>" target="_blank">
  <button id="twitter_it">TWITTER-BRAG AT THE BROS</button>
</a>

<a href="/">
  <button id="lift_again">WHAT OTHER ANIMALS DO YOU EVEN LIFT</button>
</a>